<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UCSystem.Properties.Settings.msdbConnectionString"
            connectionString="Data Source=LAPTOP-TFN0CEGQ\SQLEXPRESS01;Initial Catalog=msdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>